[bumpversion]
current_version = 0.1.1
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}
commit = False
tag = False

[bumpversion:file:Makefile]
search = VERSION = {current_version}
replace = VERSION = {new_version}

[bumpversion:file:.bumpversion.cfg]
search = current_version = {current_version}
replace = current_version = {new_version}
